html {
    height:100%
}
header {
    font-size: 60px;
    padding: 30px;
    margin-bottom: 40px;
    font-style: oblique;
    font-family: serif;
}
/* the whole body */
body {
    background-image: url(memphis-mini-dark.png);
    min-height: 100%;
}
/* for all images: */
img {
    border: 2px groove  #ffdd57;
    border-radius: 8px;
    width: 50%;
}
/* Virus Image transform when mouse goes over*/
#virus:hover {
    transform: scaleX(-1);
}
.dropdown-menu{
    max-height:200px;
    overflow:auto;
    overflow-x:hidden;
     
 }
 .dropdown-content{
    background-color: black;
}
.title{
    color: #ffdd57;
    font-size: 55px;
 }
 .lI {
     color: #ffdd57;
     font-size: 20px;
 }
 #call-to-action {
    color:#ffdd57;
    text-align: center;
    font-weight: bold;
    font-size: larger;
 }

  .footer {
    color:white;
    text-align: center;
    padding:20px;
    margin-top: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
 }
 #news1,
 #news2 {
     margin-bottom: 150px;

 }
 .gify{
     height: 100%;
     width: 100%;
 }




 
