header {
    font-size: 40px;
    padding: 30px;
    margin-bottom: 40px;
}
body {
    background-image: url(memphis-mini-dark.png);
}
img {
    height: 200px;
    width: 50%;
}

#drop {
    display: none;
    
}

 .dropdown-menu{
    max-height:200px;
    overflow:auto;
    overflow-x:hidden;
     
 }
 .footer {
    color:white;
 }
